services:
  docker-cd:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - PORT=8080
      - PROJECT_NAME=Docker-CD
      - GIN_MODE=release
      - GIT_REPO_URL=${GIT_REPO_URL}
      - GIT_ACCESS_TOKEN=${GIT_ACCESS_TOKEN}
      - GIT_REVISION=${GIT_REVISION:-main}
      - GIT_DEPLOY_DIR=${GIT_DEPLOY_DIR:-}
    restart: unless-stopped
